atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
DateTime==4.3
easygui==0.98.2
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
nltk==3.5
packaging==20.9
pdfminer.six==20200517
pdfplumber==0.5.27
Pillow==8.1.2
pip==21.0.1
pluggy==0.13.1
py==1.10.0
pycryptodome==3.10.1
pyparsing==2.4.7
PyPDF2==1.26.0
pytest==6.2.2
python-dotenv==0.15.0
regex==2021.3.17
requests==2.25.1
setuptools==49.2.1
sortedcontainers==2.3.0
sql==0.4.0
SQLAlchemy==1.4.2
toml==0.10.2
tqdm==4.59.0
urllib3==1.26.3
Wand==0.6.6
Werkzeug==1.0.1
zope.interface==5.3.0
