
<!--{% extends index.html %}-->

<!--{% block body %}-->




<!--{% endblock %}-->
<!--{% extends index.html %}-->
<!--{% block %}-->
<!--<form method="post" action="/pdf_analyzer" enctype="multipart/form-data">-->
<!--	<div class="mainContainer">-->
<!--		<p>-->
<!--			<input type="file" name="file" autocomplete="off" required>-->
<!--		</p>-->
<!--    <p>-->
<!--		<button type="submit" value="Submit"></button>-->
<!--        {% if(analyzer): %}-->
<!--        <p>{{analyzed}}</p>-->
<!--        {% endblock %}-->
<!--	</p>-->

<!--	</div>-->
<!--</form>-->
<!--{% endblock %}-->